<?xml version="1.0" encoding="UTF-8">
<report>
  <email category="sending">
    <sender>bhufnagle@zeabio.com</sender>
    <tto>hufnaglw@bc.edu,bhufnagle@zeabio.com</tto>
    <login>bhufnagle@zeabio.com</login>
    <password>temp$1234</password>
    <subject>Using config file</subject>
  </email>


  <database category="info">
    <hostname>dataentrylaptop</hostname>
    <user>bhufnagle</user>
    <password>p1assword</password>
    <dbname>datacollection</dbname>
    <tablename>growroomwalkthrough</tablename>
    <factors>Lights,Plants,WaterFlow,Reservoir50,Pumps,IPM,Airators,NoDripsLeaks,Risers</factors>
    <threshold_numbers>[1],[1],[1],[1],[1],[2,3],[1],[1],[1]</threshold_numbers>
    <rows>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18</rows>
    <date>Today</date>
  </database>
</report>
